.m-nav--header {
  .m-nav--header__list {
    display: flex;
    li.m-nav--header__item {
      a.m-nav--header__link {
        @apply --txt-color--white;
        @mixin flex-j-a center, center;
        flex-grow: 1;
        padding: 3px 10px;
      }
    }
  }
}
