.m-nav-header {
  & &__list {
    display: flex;
  }
  & &__item {
  }
  & &__link {
    @apply --color-txt--white;
    @mixin flex-j-a center, center;
    flex-grow: 1;
    padding: 3px 10px;
    &.--greeting { color: red; }
    &.--privacy { color: gold; }
    &.--legal { color: aqua; }
  }
}
