.m-nav-header {
  & &__list {
    display: flex;
  }
  & &__item {
  }
  & &__link {
    @apply --color-txt--white;
    @mixin flex-j-a center, center;
    flex-grow: 1;
    padding: 3px 10px;
    &--greeting { color: red; }
    &--privacy { color: gold; }
    &--legal { color: aqua; }
  }
}

.o-nav-global {
  @apply --color-bg--accent;
  & &__list {
    height: 40px;
    display: flex;
  }
  & &__item {
    width: 20%;
    display: flex;
    border-right: solid 1px var(--color--white);
    &:first-of-type {
      border-left: solid 1px var(--color--white);
    }
  }
  & &__link {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    color: var(--color--white);
    body.p-home &--home { background: orange; }
  }
}
