.a-overlay-global {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  transition: all .3s;
  opacity: 1;
  visibility: visible;
  z-index: 100;
  &[aria-hidden="true"] {
    opacity: 0;
    visibility: hidden;
  }
}
