.c-humberger {
  /*
  a { width: 45px; height: 45px; display: flex; justify-content: center; align-items: center; outline: none;
    i { display: block; width: 100%; height: 3px; background: var(--mainColorRGB); position: relative; transition: background .4s, transform .4s; border-radius: 3px; margin: 0 7px;
      &::before,
      &::after { content: ""; display: block; width: 100%; height: 3px; background: var(--mainColorRGB); position: absolute; border-radius: 3px; transition: all .4s; }
      &::before { transform: translateY(-10px) rotate(0deg); }
      &::after { transform: translateY(10px) rotate(0deg); }

      body.OPEN_SlideMenu & { background: var(--mainColorRGBA0);
        &::before { transform: translateY(0) rotate(-315deg); }
        &::after { transform: translateY(0) rotate(315deg); }
        transform: translateY(0) rotate(360deg);
        &::before { transform: translateY(0) rotate(-45deg); }
        &::after { transform: translateY(0) rotate(45deg); }
      }
    }
  }
  */
}

