.u-ta-l { text-align: left; }
.u-ta-c { text-align: center; }
.u-ta-r { text-align: right; }

.u-va-t { vertical-align: top; }
.u-va-m { vertical-align: middle; }
.u-va-b { vertical-align: bottom; }

