.o-drawer {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background: olive;
  transform: translateX(100%);
  transition: transform .3s ease-in-out;
  &[aria-hidden="false"] {
    transform: translateX(0);
  }
  &__nav { }
  &__list { }
  &__item {
    border-bottom: solid 1px #fff;
  }
  &__link {
    display: block;
    padding: 5px 0;
  }
}

