#o-gnav {
  @apply --bg-color--accent;
  .o-gnav__list {
    height: 40px;
    display: flex;
    li.o-gnav__item {
      width: 20%;
      display: flex;
      border-right: solid 1px var(--color--white);
      &:first-of-type {
        border-left: solid 1px var(--color--white);
      }
      a.o-gnav__link {
        display: flex;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        color: var(--color--white);
      }
    }
  }
}
