.o-gnav {
  @apply --color-bg--accent;
  & &__list {
    height: 40px;
    display: flex;
  }
  & &__item {
    width: 20%;
    display: flex;
    border-right: solid 1px var(--color--white);
    &:first-of-type {
      border-left: solid 1px var(--color--white);
    }
  }
  & &__link {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    color: var(--color--white);
    body.--page_home &.--home { background: orange; }
  }
}
