#o-header {
  @apply --color-bg--main;
  flex-grow:0;
  .t-content {
    @mixin flex-a center;
    .a-logo-header {
      flex-grow: 0;
    }
    .m-nav-header {
      @mixin flex-j-a flex-end, center;
      flex-grow: 1;
    }
    .a-humberger {
      flex-grow: 0;
    }
  }
}

